/* 
* TABELLA DI GIOCO 
*/

#tabella {
    width: 1000px;
    height: 600px;

    display: flex;
    flex-wrap: wrap;

    margin: auto;

}



/*
* CELLE 
*/

.square {
    /* da rivedere */
    width: calc(100% / 11);
    height: calc(100% / 10);

    border: 1px solid black;

    cursor: crosshair;
}

/*
* AL CLICK SULLE CELLE
*/

/* per i numeri pari */
.pari {
    background-color: green;
}

/* per i numeri dispari */
.dispari {
    background-color: red;
}