body {
    background-color: #4b2152;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
* TABELLA DI GIOCO 
*/

#tabella {
    width: 1000px;
    height: 600px;

    display: flex;
    flex-wrap: wrap;

    margin: auto;

}



/*
* CELLE 
*/

.square {
    /* da rivedere */
    width: calc(100% / 11);
    height: calc(100% / 10);

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid white;
    color: #fff;

    cursor: crosshair;
}

/*
* AL CLICK SULLE CELLE
*/

/* per i numeri pari */
.pari {
    background-color: #086375;
}

/* per i numeri dispari */
.dispari {
    color: #000;
    background-color: #affc41;
}