#tabella {
    width: 1000px;
    height: 600px;

    display: flex;
    flex-wrap: wrap;

    margin: auto;

}



/* caselle */
.square {
    /* da rivedere */
    width: calc(100% / 11);
    height: calc(100% / 10);

    border: 1px solid black;
}